apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bootstrap-workloads
  namespace: 'argocd'
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: 'argocd'
  project: default
  source:
    repoURL: ${repoURL}
    path: gitops-bridge-bootstrap # uses this for initial bootstrap
    targetRevision: ${targetRevision}
    directory:
      recurse: true
      exclude: exclude/*
  syncPolicy:
    automated: {}
