aws_region          = "eu-west-1"
environment_name     = "eks-blueprint"
eks_admin_role_name = "WSParticipantRole"

#gitops_addons_org = "https://github.com/aws-samples"
gitops_addons_org = "https://github.com/allamand"
gitops_addons_repo = "eks-blueprints-add-ons"
#gitops_addons_revision = "fix_gateway_account_id"
gitops_addons_revision = "ack"
#gitops_addons_revision = "main"
gitops_addons_path     = "argocd/bootstrap/control-plane/addons"
gitops_addons_basepath = "argocd/"

gitops_workloads_org      = "https://github.com/seb-tmp"
gitops_workloads_repo     = "eks-blueprints-workloads"
gitops_workloads_revision = "main"
gitops_workloads_path     = "envs/dev"

aws_secret_manager_git_private_ssh_key_name = "github-blueprint-ssh-key"

addons = {
  enable_cert_manager                          = true
  enable_aws_cloudwatch_metrics                = true
  enable_external_secrets                      = true
  enable_aws_load_balancer_controller          = true
  enable_aws_for_fluentbit                      = true
  enable_karpenter                             = true
  enable_aws_gateway_api_controller            = true
  enable_aws_ebs_csi_resources                 = true # generate gp2 and gp3 storage classes for ebs-csi
  enable_ack_iam                               = true
  enable_ingress_nginx                         = true
  enable_kyverno                               = true
  enable_metrics_server                        = true
  enable_external_dns                          = true
}
